@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100;200;300;400;500;600;700;800;900&family=Dancing+Script:wght@400;500;600;700&family=Merriweather:wght@300;400;700&display=swap");

:root {
  --sky-primary: #caf0f8;
  --sky-secondary: #ade8f4;
  --blue-sky-primary: #90e0ef;
  --blue-sky-secondary: #48cae4;
  --blue-1: #00b4d8;
  --blue-2: #0096c7;
  --blue-3: #0077b6;
  --blue-font-primary: #023e8a;
  --blue-background-color: #03045e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("./img/backgroud.jpg");
  background-size: cover;
  font-family: "Merriweather", serif;
}

.container {
  display: flex;
  position: relative;

  width: 950px;
  height: 100%;

  margin: 0 auto;
  background-color: #fff;
}
.side-bar {
  width: 200px;
  height: 100%;
  padding: 70px 5px;
  top: 0;
  left: -200px;
  background-color: var(--blue-3);

  position: absolute;
}
@media (min-width: 900px) {
  .side-bar {
    left: -200px;
  }
}

button.show-sidebar {
  display: none;
  position: absolute;
  left: 0;
  font-size: 14px;
  color: #555;
  font-weight: 700;
  border: none;
  cursor: pointer;
  background-color: #8bdd11;
  padding: 3px;
  border-radius: 8px;
  z-index: 10;
}

.current-room,
.online-users {
  font-family: "Dancing Script", cursive;
  color: var(--sky-secondary);
  font-weight: 700;
  font-size: 35px;
  padding: 10px 0px;
}

.online-users {
  margin-top: 20px;
}

#current-room {
  color: #c8c8c8;
  font-family: "Chivo Mono", monospace;
  font-weight: 700;
  font-size: 25px;
  padding-left: 20px;
}
#online-users .user-info {
  position: relative;
  color: #c8c6c6;
  font-family: "Chivo Mono", monospace;
  font-weight: 500;
  font-size: 25px;
  padding-left: 25px;
}
#online-users .user-info::before {
  content: "";
  left: 0px;
  top: 10px;
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #8bdd11;
  border-radius: 50%;
}
.content-container {
  position: relative;
  width: 100%;
  height: 100%;
}
@media (max-width: 960px) {
  .content-container {
    margin-left: auto;
    max-width: calc(100% - 200px);
  }
  .side-bar {
    left: 0;
  }
}
@media (max-width: 480px) {
  .container {
    max-width: 420px;
    min-width: 360px;
    max-height: 860px;
    min-height: 760px;
  }

  .content-container {
    position: relative;
    max-width: 100%;
  }
  .header {
    width: 100%;
  }
  .chat-container {
    margin-top: 70px;
    padding-bottom: 20px;
    margin-left: 0;
    width: 100%;

    max-height: 680px !important;
  }
  .message-box {
    width: 100%;
    position: absolute;
    bottom: 0%;
    padding: 10px;
    height: 65px;
  }
  .container-messages {
    display: flex;
    min-height: 30px !important;

    width: 100% !important;
    position: relative !important;

    box-sizing: border-box;
  }

  .user-name {
    position: absolute !important;
    top: 0px !important;
    margin-bottom: 10px;
    width: 80%;
  }
  .message {
    flex-basis: 100%;
  }
  #send-location {
    width: 80px;
    padding: 0 !important;
    font-size: 14px !important;
    background-color: var(--blue-sky-primary) !important;
    color: #03045e !important;
  }
  .show-sidebar {
    display: block !important;
  }
  .side-bar {
    display: block;
    position: absolute;
    left: -200px;
    z-index: 8;
    width: 150px !important;
    transition: left 1s ease;
  }
  .side-bar.mobile-view {
    left: 0;
  }
}
/* ? ===================End Of Responsive mobile ======= */
.header {
  position: absolute;
  top: 0;

  background-color: var(--blue-3);
  font-family: "Dancing Script", cursive;
  padding: 10px;
  height: 70px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.title-app {
  width: fit-content;
  padding: 5px;
  color: var(--sky-primary);
  letter-spacing: 2px;
  border-radius: 15px;
  text-align: center;
  font-family: "Dancing Script", cursive;
  z-index: 10;
}

#send-location {
  position: absolute;
  top: 18px;
  right: 10px;
  border: none;
  padding: 8px;
  background-color: #1c1f34;
  color: #fff;
  box-shadow: 0 0 10px #1c1f3485;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.message-box {
  position: relative;

  bottom: 20px;
  display: flex;
  /* justify-content: center; */
  width: 100%;
  background: transparent;
  padding: 10px;
  height: 65px;

  /* position: relative; */
}

.message-box .message-input {
  background: none;

  outline: none !important;
  resize: none;
  color: var(--blue-background-color);
  font-size: 24px;
  height: 55px;
  margin: 0 auto;
  padding: 10px;
  width: 100%;
  border: #7b7a7a 1px solid;
}
.message-box .message-input:focus {
  border: var(--blue-3) 2px solid;
}
textarea:focus:-webkit-placeholder {
  color: transparent;
}
.message-box .message-submit {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 10px;
  color: #fff;
  border: none;
  background: var(--blue-3);
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1;
  height: 55px;
  width: 70px;
  outline: none !important;
  transition: background 0.2s ease;
  cursor: pointer;
}
.message-submit:hover {
  background: var(--blue-3);
  opacity: 0.7;
}

.chat-container {
  margin-top: 70px;
  padding-bottom: 20px;
  margin-left: auto;
  width: 100%;
  height: calc(100vh - 135px);
  padding: 10px;
  overflow-y: scroll;
}

.container-messages {
  width: 60%;
  height: 80px;
  display: flex;
  position: relative;
  align-items: center;
  /* border: 2px solid red; */
}
@media (max-width: 800px) {
  .container-messages {
    width: 90%;
  }
}
.user-name {
  position: absolute;
  top: 5px;
  left: 5px;
  font-weight: 600;
  font-size: 16px;
  color: gray;
  font-family: "Chivo Mono", monospace;
}

.message {
  position: relative;
  flex-basis: 0.95;
  background-color: var(--blue-1);
  width: fit-content;
  padding: 5px 8px;
  padding-left: 12px;
  border-radius: 10px;
  margin: 8px 1px 8px;
  color: var(--blue-font-primary);
  font-size: 18px;

  margin-left: 10px;
}
.message::before {
  content: "";
  top: 0px;
  left: -25px;
  position: absolute;
  background: transparent;
  height: 0px;
  width: 0px;
  border-left: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 20px solid var(--blue-1);
}

.room-name {
  font-weight: bold;
}
.user-icon {
  border-radius: 50px;
  background-color: var(--blue-3);
  padding: 6px;
  color: #fff;
  font-size: 16px;
}

.time {
  flex-basis: 0.01;
  font-size: 12px;
  color: #7b7a7a;
}

.user-joined-container {
  width: 100%;
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border: 2px solid red; */
}

.user-joined-container .left-line,
.user-joined-container .right-line {
  position: relative;
  flex-basis: 20%;
  height: 1.5px;
  width: 100%;
  background-color: #cccbcb;
}

.user-joined-container .left-line {
  margin-right: auto !important;
}
.user-joined-container .right-line {
  margin-left: auto !important;
}

.user-joined-container .right-line::before,
.user-joined-container .left-line::before {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #cccbcb;
  content: "";
  right: -5px;
  top: -4px;
}
.user-joined-container .left-line::before {
  left: -5px;
}
.user-joined-container .new-user-joined {
  font-family: "Dancing Script", cursive, sans-serif;
  flex-basis: 30%;
  margin: 5px 0px;
  font-size: 20px;
  color: #7b7a7a;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}

.user-disconnected {
  position: relative;
  width: 100%;
  font-family: cursive, sans-serif;
  font-size: 20px;
  color: #7b7a7a;
  font-weight: 100;
  text-align: center;
  margin: 5px 0px;
  font-size: 18px;
  border-radius: 50px;
  letter-spacing: 1px;
}

.user-disconnected::before {
  content: "";
  position: absolute;
  width: 70%;
  left: 50%;
  top: 15px;
  border-radius: 5px;
  transform: translateX(-50%);
  height: 1.5px;

  background-color: #ccc;
}
.user-location {
  /* text-decoration: none; */
  color: #fff;
  font-weight: 400;
}
.user-location:hover {
  color: var(--blue-font-primary);
}

/* ? ==================================
?       Styling scroll bar  
?======================================
*/

.chat-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 18px;
}

.chat-container::-webkit-scrollbar {
  width: 14px;
  padding: 2px;
  height: 70px;
  border-radius: 10px;
  background-color: #f5f5f5;
}

.chat-container::-webkit-scrollbar-thumb {
  background-color: var(--blue-sky-secondary);
  height: 70px;

  border-radius: 8px;
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    color-stop(0.5, rgba(255, 255, 255, 0.2)),
    color-stop(0.5, transparent),
    to(transparent)
  );
}
